<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List App</title>
    <script src="https://kit.fontawesome.com/cd1b3c60ee.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <nav class="navbar">
            <a href="/"><i class="fa-regular fa-calendar-days"></i> Today</a>
            <a href="/work"><i class="fa-solid fa-chalkboard-user"></i> Work</a>
        </nav>
    </header>
    <main class="mainContainer">